* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.blue {
    background-color: rgba(41, 87, 185, 0.608);
}

.bg {
    background-image: url(./../img/pexels-pixabay-159823.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg1 {
    background-image: url(./../img/hero_blog_elem_PBL_Literacy_photo_iStock_1500076413_Drazen-Zigic.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon {
    width: 15px;
}

.navbar {
    top: 6.8%;
    z-index: 200;
    width: 100vw;
}

.navbar.scrolled, .sidebar {
    background-color: rgb(37, 54, 110);
}



.section-title {
    margin-top: 100px;
}

.category .top {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0, 1);
    border-radius: 5px;
    background-color: aliceblue;
}

.category .top .teampic {
    width: 90px;
    border-radius: 50%;
}

.Instructor, .course, .school {
    margin-top: 100px;
    background-color: rgba(216, 213, 213, 0.2);
}

.image {
    bottom: 20px;
}

.image1, video, .choImg {
    max-width: 100%;
    height: auto;
}

.def {
    width: 320px;
}

.def1, .anW {
    width: 392px;
}

.check::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./../img/check.png);
    background-size: contain;
    margin-right: 10px;
}

.carl::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./../img/calendar.png);
    background-size: contain;
    margin-right: 10px;
}

.ad::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./../img/user.png);
    background-size: contain;
    margin-right: 10px;
    margin-left: 20px;
}

.btn, .btn1 {
    width: 150px;
}

.card-img-top1 {
    width: 50px;
    border: 2px solid rgb(57, 141, 210);
    border-radius: 50%;
}

.card, .lef, .topW, .an, .anW, .member-info {
    margin-left: 20px;
}

.btnL {
    border: 2px solid rgb(57, 141, 210);
}

video {
    box-shadow: 80px -50px aliceblue;
}

.card-text1, .lag {
    width: 250px;
}

.p1 {
    width: 530px;
}

.img {
    border-radius: 50%;
}

.choImg {
    width: 500px;
}

.img-fluid {
    max-height: 250px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.cole, .card1 {
    box-shadow: 10px 10px 12px 0 rgb(122, 122, 122);
}

.pfo {
    width: 250px;
}

.accordion-item {
    border-bottom: none !important;
}


@media screen and (max-width:992px) {
    .upNav {
        justify-content: center !important;
    }

    .image {
        margin: auto;
        margin-top: 20px;
    }

    .anW, .def, .def1 {
        width: auto;
    }

    .eve {
        flex-wrap: wrap;
    }

    .navbar {
        padding-top: 60px;
    }

    .navbar.scrolled {
        padding-top: 0px;
    }

}

@media screen and (max-width:768px) {

    video {
        box-shadow: none;
        margin-top: 40px;

    }

    .card {
        margin: auto;
        margin-top: 10px;
    }

    .topW, .anW {
        margin-left: 0px;
    }

    .fef {
        gap: 30px;
        margin: auto;
    }
}